# Auto detect text files and perform LF normalization
* text=auto
. filter=lfs diff=lfs merge=lfs -text
raw/trustdb.adh filter=lfs diff=lfs merge=lfs -text
raw/trustdb.txt filter=lfs diff=lfs merge=lfs -text
*.adh filter=lfs diff=lfs merge=lfs -text
*.txt filter=lfs diff=lfs merge=lfs -text
